//- Basic layout
extends ../_layouts/_layout

block vars
	- var pageName 	= 'GUI'
	- var bodyClass = 'page-gui'
	- var pageId 	= 0
	- var dir 		= '../'


block content

	include _gui-header
	.page-layout
		.container
			.gui-component
				.gui-component__text
					h3 Форма
				.form-layout.col-9
					form.form-body
						.form-row
							.form-item.col-3
								label.form-label Название поля
							.form-item.col-8
								input.form-field.form-field--input
						.form-row
							.form-item.col-3
								label.form-label Название поля
							.form-item.col-8
								textarea.form-field.form-field--textarea(rows="6")
						.form-row
							.form-item.col-3
							.form-item.col-8
								button.btn.btn-large.btn-action(type="submit") Отправить

			.gui-panel
				h1 GUI Page
				button.btn.btn-basic.btn-small(data-toggle="modal" data-target="#modal") Modal Toggle

			.gui-panel
				.gui-panel__fonts
					h1 h1. Heading
					h2 h2. Heading
					h3 h3. Heading
					h4 h4. Heading
					h5 h5. Heading
					h6 h6. Heading
