footer.row.footer-row
	.container
		.grid-layout
			.col-6
				.footer-copyright © Copyright, 2014–2015
			.col-6
				.nps-block
					a.nps-link(href="http://nopreset.ru") Создание сайта &mdash; <span class="nps-link__name">nopreset</span>