.modal.fade(tabindex="-1" role="dialog" aria-hidden="true" id="modal")
	.modal-dialog
		.modal-body
			.modal-header
				button.btn.btn-modal-close(data-dismiss="modal" aria-label="Close") ×
				h4.modal-title Заголовок модального окна
			.modal-content
				.article-layout
					p Дизайн начала прошлого века как будто отличается от&nbsp;современного только технически: ещё не&nbsp;изобретены Photoshop и&nbsp;цифровая печать, не&nbsp;написаны классические исследования о&nbsp;восприятии рекламы, невелико разнообразие рекламных носителей. Кажется, что современный дизайнер, попав в&nbsp;прошлый век, мог&nbsp;бы намного опередить своё время, пользуясь имеющимися опытом и&nbsp;знанием.</p>
			.modal-footer
				.btn-group.btn-group-right
					button.btn.btn-basic.btn-small(data-dismiss="modal") Отмена
					button.btn.btn-small.btn-action Сохранить
