# OS or Editor folders
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.project
.settings
.tmproj
Thumbs.db

# Folders to ignore
bower_components
.CVS
.git
.hg
.idea
.svn

# Node.JS
node_modules/*
dist/*
