.gui-header {
  background: #f6f5f3;
}

.gui-menu {
  display: flex;

  font-size: 14px;
}

.gui-menu a {
  display: block;

  padding: 14px 0 10px;

  border-bottom: 2px solid transparent;
}

.gui-menu .active a {
  border-color: #ce5943;
}

.gui-menu__item {
  padding: 0 16px;
}

.gui-menu__item:first-child {
  padding-left: 0;
}

.gui-panel {
  margin-bottom: 42px;
  padding: 0 0 12px;

  border-bottom: 1px solid #d3d3d3;
}

.gui-panel__fonts {
  padding-bottom: 42px;
}

.gui-component {
  margin-bottom: 32px;
}

.gui-grid--block {
  display: block;

  padding: 0;
}
