//- Basic layout
extends _layouts/_layout

block vars
	- var pageName = 'Главная страница'
	- var className = ''

block content

	include _includes/_header
	.page-layout
		.container
			h1 Awesome title