//- Basic layout
extends _layouts/_layout

block vars
	- var pageName = 'Катя Балясникова'

block content

	.page-layout
		.page-section
			.header-section
				.logo-section
					img(src="tpl/images/logo.png" alt="photo")
				.about-section
					h1 Катя Балясникова
					.contact-block
						a(href="#") telegram
						a(href="#") facebook
						a(href="#") pushok@mail.com
					.article-body
						p Родился, живу и работаю в Саратове. Люблю путешествовать и смотреть как устроена жизнь в других местах.
						p Но всегда возвращаюсь в родной город, потому что здесь ещё столько интересного и неизученного. А как много хочется изменить! В общем, обо всём этом мой журнал.
			.content-section
				h2 Верстала и помогала
				.item-list
					.item-block
						.icons
							.icons__item
								img(src="tpl/images/948.png" alt="See-No-Evil monkey emoji")
							.icons__item
								img(src="tpl/images/673.png" alt="Briefcase emoji")
						.item__meta
							.item__title Секретный проект в Otto Feller
							.item__date 2016 – Сегодня
					.item-block
						.icons
							.icons__item
								img(src="tpl/images/605.png" alt="Princess emoji")
							.icons__item
								img(src="tpl/images/581.png" alt="High-Heeled Shoe emoji")
							.icons__item
								img(src="tpl/images/572.png" alt="Dress emoji")
						.item__meta
							.item__title Сайт стилиста
							.item__date 2016 – Сегодня
					.item-block
						.icons
							.icons__item
								img(src="tpl/images/1028.png" alt="Shopping Bags emoji")
						.item__meta
							.item__title Сайт ТЦ
							.item__date 2016 – Сегодня
					.item-block
						.icons
							.icons__item
								img(src="tpl/images/390.png" alt="Film Frames emoji")
							.icons__item
								img(src="tpl/images/364.png" alt="Popcorn emoji")
						.item__meta
							.item__title Кинотеатр
							.item__date 2016 – Сегодня
					.item-block
						.icons
							.icons__item
								img(src="tpl/images/311.png" alt="Tangerine emoji")
							.icons__item
								img(src="tpl/images/1028.png" alt="Shopping Bags emoji")
						.item__meta
							.item__title Еще один ТЦ
							.item__date 2016 – Сегодня
					a(href="projects/proff/index-main.html").item-block
						.icons
							.icons__item
								img(src="tpl/images/1812.png" alt="Tangerine emoji")
							.icons__item
								img(src="tpl/images/1804.png" alt="Shopping Bags emoji")
						.item__meta
							.item__title Заслуженный Врач РФ
							.item__date 2015
