//- Page 404
extends _layout

block vars
	- var footer = true
	- var pageName = 'Страница 404'
		
block content
	include includes/_header
	.page-layout
		.row
			section.page-404
				header.page-404__header
					h2.page-404__title 404
					p.page-404__subtitle Неправильно набран адрес, либо такой страницы на сайте больше не существует.

				.page-404__action
					.page-404-button
						a.btn.btn-medium.btn-basic(href="index-main.html") Вернуться на главную страницу

	include includes/_footer