.footer-panel {
  display: flex;
  flex-direction: row;

  padding: 22px 0 0;

  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-copyright {
  font-size: 0.8rem;
}

.footer-developers {
  font-size: 0.8rem;
}

.footer-developers__link {
  text-decoration: none;

  color: inherit;
}

.footer-developers__link:hover {
  text-decoration: none;

  color: $link-color-hover;
}
