.header-logo {
  margin-right: 20px;
}

.site-logo {
  display: block;

  text-decoration: none;
}

.header-main {
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  font-size: 0;
}
