.header-title {
  display: flex;
  flex-direction: column;
}

.header-main {
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  font-size: 0;
}
