@import "../base/vars";

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;

	color: $font-color;
	background: $body-bg;

	font-family: $primaryFont;
	font-size: $font-size-root;
	line-height: 1.428;
}

a {
	text-decoration: none;

	color: $link-color;
}

a:hover {
	text-decoration: none;

	color: $link-color-hover;
}

.page-layout {
	position: relative;

	padding: 32px 0 42px;

	flex-grow: 1;
}

.page-footer {
	padding-bottom: 20px;

	border-top: 2px solid #F6F5F3;
	background: #fff;
}

.container{
	position: relative;

  max-width: $desktopWidth;
	margin: 0 auto;
	padding: 0 20px;
}

.menu-primary {
	font-size: 0;
}

.menu-primary a {
	display: block;
}

.menu-primary__item {
	display: inline-block;

	margin: 0 14px;

	font-size: 14px;
}

.menu-primary__item:first-child {
  margin-left: 0;
}

.menu-primary__item.active a {
	cursor: default;
	text-decoration: none;

	color: inherit;
}


.menu-secondary {

}
