.menu-primary {
  font-size: 0;
}

.menu-primary a {
  display: block;
}

.menu-primary__item {
  display: inline-block;

  margin: 0 14px;

  font-size: 14px;
}

.menu-primary__item:first-child {
  margin-left: 0;
}

.menu-primary__item.active a {
  cursor: default;
  text-decoration: none;

  color: inherit;
}

.menu-secondary {
  font-size: 0;
}
