@import "../base/vars";

.page-layout {
  position: relative;
  flex-grow: 1;
}

.page-layout::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F5F5F5;
  height: 406px;
  z-index: -1;
}

.page-section {
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media $mobile {
    padding: 0 60px;
  }
}

.header-section {
  display: flex;
  flex-direction: column;

  @media $mobile {
    flex-direction: row;
  }
}

.logo-section {
  flex-shrink: 0;
  margin: 70px auto 0;
  @media $mobile {
    margin: 68px 28px 0;
  }
}

.logo-section img {
  width: 234px;
}

.about-section {
  @media $mobile {
    margin-top: 140px;
  }
}

.about-section h1 {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  margin: 0;
  color: #000;
  font-size: 32px;
  font-weight: 800;
  text-align: center;

  @media $mobile {
    position: static;
    text-align: left;
    font-size: 92px;
    line-height: 86px;
  }

  @media $wideDesktop {
    width: 50%;
  }
}

.contact-block {
  margin: 38px 0;
}

.contact-block a {
  font-size: 26px;
  color: #149990;
}

.contact-block a:hover {
  opacity: .8;
}

.contact-block a::after {
  content: "/";
  color: #000;
  margin-left: 7px;
}

.contact-block a:last-of-type::after {
  content: none;
}

.content-section {
  margin-top: 25px;
  @media $mobile {
    margin-top: 70px;
  }
  @media $portraitTablet {
    margin-top: 40px;
  }
}

.content-section h2 {
  display: none;
  @media $mobile {
    display: block;
  }
}

.item-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-block {
  flex-grow: 1;
  @media $mobile {
    margin-right: 20px;
  }
}

.icons {
  display: flex;
  justify-content: center;
  padding: 60px;
  background: #F6F6F6;
  border-radius: 4px;
}

.icons__item {
  display: none;
  @media $mobile {
    display: block;
    margin: 0 20px;
  }
}

.icons__item:first-of-type {
  display: block;
  @media $mobile {
  }
}

.icons__item img{
  width: 90px;
  height: 90px;
}

.item__meta {
  margin: 20px 0 40px;
}
.item__title {
  font-size: 20px;
}

.item__date {
  font-size: 15px;
  color: #898989;
}
