
// Grid
// ----------------------------------------------------

@mixin breakpoint($min: false, $max: false) {
	$query: "";

	@if $min == false {
		$query: "(max-width: #{$max})";
	}

	@else if $max == false {
		$query: "(min-width: #{$min})";
	}

	@else {
		$query: "(min-width: #{$min}) and (max-width: #{$max})";
	}

	@media #{$query} {
		@content;
	}
}


@mixin generate-colmn($i) {
	@if $i == 0 {
		display: none;
	}
	@else {
		width: 100% / $grid-columns * $i;
	}
}

@mixin generate-grid-breakpoint($name: "") {

	@for $i from 0 through $grid-columns {
		@if $name == "" {
			&-#{$i} {
				@include generate-colmn($i);
			}
		}
		@else {
			&-#{$name}-#{$i} {
				@include generate-colmn($i);
			}
		}
	}

}

%master-col {
	padding-left: ($column-gap / 2);
	padding-right: ($column-gap / 2);
	min-height: 1px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.col{


	@include generate-grid-breakpoint();

	@include breakpoint($grid-breakpoint-small) {
		@include generate-grid-breakpoint('sm')
	}

	@include breakpoint($grid-breakpoint-medium) {
		@include generate-grid-breakpoint('md')
	}

	@include breakpoint($grid-breakpoint-large) {
		@include generate-grid-breakpoint('lg')
	}

	@include breakpoint($grid-breakpoint-xlarge) {
		@include generate-grid-breakpoint('xs')
	}
}

@mixin class-list($name: "") {
	@for $i from 1 through 12 - 1 {

		@if $name == "" {
			.col-#{$i} {
				@extend %master-col;
			}
		}
		@else {
			.col-#{$name}-#{$i} {
				@extend %master-col;
			}
		}

	}

}

@include class-list;
@include class-list('sm');
@include class-list('lg');
@include class-list('xs');


.columns-root{
	font-size: 0;
	margin: 0 (-$column-gap / 2);
}

.col-block{
	display: block;
}
