.page-404 {
  width: 80%;
  margin: 62px auto 24px;

  text-align: center;
}

.page-404__header {
  padding-bottom: 24px;
}

.page-404__title {
  margin-bottom: 12px;

  font-size: 142px;
  line-height: 1;
}

.page-404__subtitle {
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 300;
}

.page-404__action {
  text-align: center;

  font-size: 16px;
}
