// Variables
// ------------------------------------------------------------------------


// Grid property

$mobile:          			  544px;
$portraitTablet:			    768px;
$landscapeTablet:			    992px;
$desktop:   			        1200px;
$wideDesktop:	      		  1400px;

$grid-breakpoint-xsmall: 	$mobile;
$grid-breakpoint-small: 	$portraitTablet;
$grid-breakpoint-medium: 	$landscapeTablet;
$grid-breakpoint-large: 	$desktop;
$grid-breakpoint-xlarge:	$wideDesktop;

$grid-columns: 				12;
$column-gap: 				20px;

$content-spacing--md:       20px;


// Global
// -----------------------------------------------------------------------------

$body-bg:                 	#fff;
$font-color:				#383838;



// Fonts
// -----------------------------------------------------------------------------

$font-size-base:		    16;
$font-size-root:		    $font-size-base + px;
$font-sans-serif:  			("Helvetica Neue", Helvetica, Arial, sans-serif);
$font-serif:      			(Georgia, "Times New Roman", Times, serif);



// Brand colors
// -----------------------------------------------------------------------------

$brand-primary:			#000;
$brand-secondary:		#999;



// Links
// -----------------------------------------------------------------------------

$link-color:    		    #242424;
$link-color-hover:    		#bc0000;
