// GUI Page
// -----------------------------------------------------------------------------
.page-gui {
	@include font-smoothing;
}

.gui-header {
	background: #f6f5f3;
}

.gui-menu {
	display: flex;
	font-size: 14px;
	
	&__item {
		padding: 0 16px;
		
		&:first-child {
			padding-left: 0;
		}
	}
	
	a {
		display: block;
		padding: 14px 0 10px;
		border-bottom: 2px solid transparent;
	}

	.active a{
		border-color: #CE5943;
	}
	
}


// Blocks
// -----------------------------
.gui-panel{
	padding: 0 0 12px;
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 42px;
}

.gui-panel__fonts {
	padding-bottom: 42px;
}

.gui-component{
	margin-bottom: 32px;
}

// Helpers
// ----------------------------
.gui-grid--block{
	display: block;
	padding: 0;
}
