//	 Buttons
//------------------------------------------------------------------------------

.btn {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	line-height: 1.42857;
	white-space: nowrap;
	user-select: none;
	box-sizing: border-box;

	&:focus {
		outline: inherit;
	}

	&.disabled, &.disable:hover,
	&[disabled], &[disabled]:hover {
		pointer-events: none;
		box-shadow: none;
		cursor: default;
		opacity: 0.5;
	}
}
	a.btn {
		text-decoration: none;
	}

.btn-basic {
	background: white;
	border: 1px solid #dedede;
	border-radius: 3px;
	color: #383838;

	&:hover {
		background: #fafafa;
		color: #222;
	}

	&:active {
		box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.125);
	}
}

.btn-action {
	background: #4a6da8;
	border: 1px solid #426092;
	border-radius: 3px;
	color: #FFF;

	&:hover {
		background: #2759a6;
		border-color: #143a77;
	}

	&:active {
		box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.325);
	}
}

.btn-outline{

}



// Button size -----------------------------------------------------------------

.btn-block {
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.btn-small {
	padding: 0.5em 1.6em;
	font-size: 12px;
}

.btn-normal {
	padding: 0.5em 1.6em;
	font-size: 14px;
}

.btn-medium {
	padding: 1em 1.8em;
	line-height: 1.33;
	font-size: 16px;
}

.btn-large {
	padding: 1em 1.8em;
	line-height: 1.33;
	font-size: 20px;
}



// Button set ------------------------------------------------------------------

.btn-group {
	font-size: 0;
}

.btn-group-right {
	text-align: right;
}

.btn + .btn {
	margin-left: 1em;
}
