// Form
// -----------------------------------------------------------------------------


// Layout ----------------------------------------------------------------------

.form-layout {
	
	&--static{
		
	}
}

.form-body {
	font-size: 0;
}

.form-footer{
	
}

.form-group {
	margin-left: -24px;

	.form-block {
		padding-left: 24px;
		box-sizing: border-box;
	}
}

.form-row {
	margin-bottom: 24px;
	font-size: 0;
}

.form-item {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;

	& + & {
		padding-left: 20px;
	}
}



// Fields ----------------------------------------------------------------------

.form-label {
	display: block;
	cursor: pointer;
	padding: 8px 0;
	font-size: 15px;
}

.form-field {
	border: 1px solid #cecece;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	padding: 8px 0;
	box-sizing: border-box;
	width: 100%;
	
	&:focus {
		border-color: #969696;
		outline: none;
	}
}

.form-field--input {
	text-indent: 0.5em;
}

.form-field--textarea {
	padding: 8px 0.5em;
	resize: none;
}

.form-label--required {
	position: relative;

	&:before {
		content: "*";
		position: absolute;
		color: #b20000;
		font-size: 16px;
		top: 0.3em;
		left: -0.6em;
	}
}

.form-field__tip {
	display: block;
	padding: 4px 0 0;
	font-size: 13px;
	color: #737373;
}




// Controls
// -----------------------------------------------------------------------------

.controls-group {
	
}

// basic

.control {
	
	input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	
}

.control-indicator {
	position: relative;
	
	&:before {
		content: '';
	}
}



// checkbox

.control-checkbox {
	
	input:checked + .control-indicator {
		
	}
	
}



// Radio

.control-radio {
	
	input:checked + .control-indicator {
		
	}
	
}



// Button

.control-radio {
	
	input:checked + .control-button {
		
	}
	
}


