//  Modal
//------------------------------------------------------------------------------


//  Layout ---------------------------------------------------------------------
.modal,
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.modal {
	display: none;
	overflow: hidden;
	z-index: 1040;
	-webkit-overflow-scrolling: touch;

	&:focus {
		outline: 0;
	}

	.modal-open & {
		display: flex;
    	overflow-x: hidden;
    	overflow-y: auto;
		
		.no-flexbox & {
			display: block;
		}
	}
}

.modal-backdrop {
	background: #000;
	transition: opacity .2s ease;
	z-index: 1030;
}

.modal-dialog {
    max-width: 860px;
	margin: auto;
	z-index: 1010;
	font-size: $font-size-base + px;
	
	@include min-screen-height(600px) {
		padding: 30px 0;
	}
}

.modal-content {
	position: relative;
	background: #FFF;
	box-shadow: 0 8px 30px -5px rgba(0,0,0,.5);
}

.modal-header {
	padding: 20px 26px 15px;
	position: relative;
}

.modal-body {
	position: relative;
	padding: 0 26px 15px;
}

.modal-footer {
	border-top: 1px solid #dedede;
	margin-top: 20px;
	padding: 15px 26px;
}



// Elements --------------------------------------------------------------------
.modal-title {
	font-weight: 500;
}

.btn-modal-close {
	padding: 3px 12px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 12;
	font-size: 32px;
	background: transparent;
	color: #000;
	
	&:focus {
		outline: none;
	}

	&:hover{
        opacity: .6;
    }

	&:active{
        opacity: 1;
    }
}



// Animation -------------------------------------------------------------------
.modal {

	&.fade .modal-dialog {
		opacity: 0;
		transition: opacity .3s ease;
    }

	&.in .modal-dialog {
		opacity: 1;
		transition: opacity .3s ease;
    }
}

.modal-backdrop {

	&.fade {
		opacity: 0;
    }

	&.in {
		opacity: 0.5;
    }
}


// lock screen
.modal-open {
	overflow: hidden;
}

// Measure scrollbar
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}


// Success ---------------------------------------------------------------------
.modal-success {
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	padding: 42px;
	display: flex;
	transition: display 0s linear,
				opacity 300ms ease;
	
	&[hidden] {
		display: none;
		opacity: 0;
	}
	
	&__content {
		text-align: center;
		max-width: 620px;
		line-height: 28px;
		margin: auto;
	}
	
	&__title {
		padding-bottom: 42px;
		
		.modal-title {
			margin-bottom: 12px;
		}
	}
}
