// Page 404
// -----------------------------------------------------------------------------

.page-404 {    
    margin: 62px auto 24px;
    text-align: center;
    width: 80%;
}

.page-404__header {
    padding-bottom: 24px;
}
.page-404__title {
	font-size: 142px;
	line-height: 1;
	margin-bottom: 12px;
}

.page-404__subtitle {
	font-size: 20px;
    font-weight: 300;
    margin-bottom: 32px;
}

.page-404__action {
	text-align: center;
	font-size: 16px;
}
