//  Footer
// -----------------------------------------------------------------------------

.row-footer {
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: $layout-offset;
	min-width: $width-min;
}

.footer-panel {
	padding: 22px 0 0;
}

.footer-copyright {
	font-size: #{$font-size-base - 1}
}



// copyright
// -----------------------------------------------------------------------------

.footer-developers {
	float: right;
	font-size: #{$font-size-base - 1};
}

.footer-developers__link {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
		color: $link-color__hover;
	}
}
