//  Footer
// -----------------------------------------------------------------------------

.row-footer {
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: $layout-offset;
	border-top: 2px solid #F6F5F3;
}

.footer-panel {
	padding: 22px 0 0;
}

.footer-copyright {
	font-size: #{$font-size-base - 2}px;
}



// copyright
// -----------------------------------------------------------------------------

.footer-developers {
	float: right;
	font-size: #{$font-size-base - 2}px;
}

.footer-developers__link {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
		color: $link-color-hover;
	}
}
