body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;

	color: $font-color;
	background: $body-bg;

	font: #{$font-size-base}px/1.428 $font-sans-serif;
}

a {
	text-decoration: none;
	color: $link-color;

	&:hover {
		text-decoration: none;
		color: $link-color-hover;
	}
}




//  Layout
//	----------------------------------------------------------------------------
.page-layout {
	position: relative;

	padding: 32px 0 42px;

	flex: 1 0 auto;
}

.container{
	position: relative;
  max-width: $desktop;
	margin: 0 auto;
	padding: 0 20px;
}



//  Navigation
// -----------------------------------------------------------------------------

.menu-primary {
	font-size: 0;

	a {
		display: block;
	}
}

.menu-primary__item {
	display: inline-block;
	margin: 0 14px;
	font-size: 14px;
}

.menu-primary__item:first-child {
  margin-left: 0;
}

.menu-primary__item.active {

  a {
  	cursor: default;
  	text-decoration: none;
  	color: inherit;
  }

}


.menu-secondary {

}



//  Sections
// -----------------------------------------------------------------------------
