// Header
// -----------------------------------------------------------------------------

.row-header {
	background: #f6f5f3;
	padding: 12px 0;
}

.header-logo {

}

.site-logo {
	display: block;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

.header-main {
	
}

.header-nav {

}