progress,
sub,
sup {
  vertical-align: baseline
}

button,
hr,
input,
select {
  overflow: visible
}

*,
legend {
  box-sizing: border-box
}

body,
dd,
dl,
menu,
ol,
p,
ul {
  margin: 0
}

.pagination__list,
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.page-layout,
html,
sub,
sup {
  position: relative
}

.page-layout:after,
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: ""
}

.icons::after,
a:hover .icons {
  box-shadow: 0 10px 20px rgba(0,0,0,.15)
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],
template {
  display: none
}

a {
  background-color: transparent;
  color: #242424
}

a:active,
a:hover {
  outline-width: 0
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none
}

a,
a.btn,
a:hover {
  text-decoration: none
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder
}

dfn {
  font-style: italic
}

mark {
  color: #000;
  background-color: #ff0
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0
}

optgroup {
  font-weight: 700
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer
}

.pagination__list .active a,
.pagination__list span,
[disabled] {
  cursor: default
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0
}

button:-moz-focusring,
input:-moz-focusring {
  outline: ButtonText dotted 1px
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  color: #000000;
  background: #fff;
  font-family: Fira Sans, Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 1.428
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .75em;
  line-height: 1.1
}

h1 {
  font-size: 3rem
}

h2 {
  font-size: 2.625rem
}

h3 {
  font-size: 2.25rem
}

h4 {
  font-size: 1.875rem
}

h5 {
  font-size: 1.6rem
}

h6 {
  font-size: 1.125rem
}

em {
  font-style: italic
}

blockquote,
q {
  quotes: none
}

.align-center {
  text-align: center
}

.align-left {
  text-align: left
}

.align-right {
  text-align: right
}

.pull-left {
  float: left
}

.pull-right {
  float: right
}

menu,
ol,
ul {
  padding: 0;
  list-style-type: none
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #949494
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #949494
}

input::placeholder,
textarea::placeholder {
  color: #949494
}

label {
  user-select: none
}

.page-layout {
  -ms-flex-positive: 1;
  flex-grow: 1
}

.page-layout:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f5f5f5;
  height: 406px;
  z-index: -1
}

.page-section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px
}

.header-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

@media only screen and (min-width:512px) {
  .page-section {
    padding: 0 60px
  }
  .header-section {
    -ms-flex-direction: row;
    flex-direction: row
  }
}

.logo-section {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 70px auto 0
}

.logo-section img {
  width: 234px
}

@media only screen and (min-width:512px) {
  .logo-section {
    margin: 68px 28px 0
  }
  .about-section {
    margin-top: 140px
  }
}

.about-section h1 {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  margin: 0;
  color: #000;
  font-size: 32px;
  font-weight: 800;
  text-align: center
}

@media only screen and (min-width:768px) {
  .about-section h1 {
    font-size: 56px;
    line-height: 56px
  }
}

@media only screen and (min-width:1024px) {
  .about-section h1 {
    max-width: 570px;
    font-size: 92px;
    line-height: 86px
  }
}

.contact-block {
  margin: 38px 0
}

.contact-block a {
  font-size: 22px;
  color: #149990
}

.contact-block a:hover {
  opacity: .8
}

.contact-block a:after {
  content: "/";
  color: #000;
  margin-left: 7px
}

.contact-block a:last-of-type:after {
  content: none
}

.content-section {
  margin-top: 25px
}

@media only screen and (min-width:512px) {
  .about-section h1 {
    position: static;
    text-align: left
  }
  .contact-block a {
    font-size: 26px
  }
  .content-section {
    margin-top: 70px
  }
}

@media only screen and (min-width:768px) {
  .content-section {
    margin-top: 40px
  }
}

.content-section h2 {
  display: none
}

@media only screen and (min-width:512px) {
  .content-section h2 {
    display: block
  }
  .item-block {
    margin-right: 20px
  }
}

.item-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.item-block {
  -ms-flex-positive: 1;
  flex-grow: 1
}

.icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 60px;
  background: #f6f6f6;
  border-radius: 4px;
  transition: box-shadow .3s ease-in-out
}

.icons::after {
  opacity: 0;
  transition: opacity .3s ease-in-out
}

a:hover .icons::after {
  opacity: 1
}

.icons__item {
  display: none
}

.icons__item:first-of-type,
.menu-primary a {
  display: block
}

@media only screen and (min-width:512px) {
  .icons--high {
    padding: 120px;
  }
  .icons__item {
    display: block;
    margin: 0 20px
  }
}

.icons__item img {
  width: 90px;
  height: 90px
}

.item__meta {
  margin: 20px 0 40px
}

.item__title {
  font-size: 20px
}

.item__title a {
  color: #149990
}

.item__title a:hover,
.item__title:hover {
  opacity: .8
}

.item__date {
  font-size: 15px;
  color: #898989
}

.menu-primary {
  font-size: 0
}

.breadcrumbs li,
.btn,
.menu-primary__item,
.pagination__list li {
  display: inline-block
}

.menu-primary__item {
  margin: 0 14px;
  font-size: 14px
}

.menu-primary__item:first-child {
  margin-left: 0
}

.menu-primary__item.active a {
  cursor: default;
  text-decoration: none;
  color: inherit
}

.menu-secondary {
  font-size: 0
}

.article-layout {
  font-size: 26px;
  line-height: 30px
}
.article-body {
  max-width: 720px
}

.article-body p {
  margin: .8em 0;
  font-size: 18px
}

@media only screen and (min-width:512px) {
  .article-body p {
    font-size: inherit;
    line-height: 35px
  }
}

.article-body ul {
  margin-top: 1em;
  padding: 0 0 0 20px;
  list-style: disc
}

.article-body ul li+li {
  margin-top: .7em
}

.article-body ol {
  margin-top: 1em;
  padding: 0 0 0 20px;
  list-style-type: decimal
}

.article-body ol li+li {
  margin-top: .7em
}

.article-body figure {
  margin: 0;
  padding: 2.5em 0 1.7em
}

.article-body figure img {
  margin: 0 0 .5em
}

.article-body figcaption {
  font-style: italic;
  font-size: .85em
}

.article-body img {
  margin: 2.5em 0 1.5em;
  max-width: 100%
}

.article-body blockquote {
  margin-left: 0;
  padding: 0 0 0 20px;
  border-left: 4px solid #dedede;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.48
}

.article-body b,
.article-body strong {
  font-weight: bolder
}

.article-body h3,
.article-body h4,
.article-body h5 {
  margin: 52px 0 0;
  line-height: 1.25
}

.article-body h3:first-child,
.article-body h4:first-child,
.article-body h5:first-child {
  margin-top: 0
}

.article-header {
  margin-bottom: 18px
}

.article-header__title {
  margin-bottom: 4px;
  font-size: 42px
}

.article-header__date {
  color: #555;
  font-style: italic;
  font-size: 14px
}

.pagination {
  position: relative
}

.pagination__list {
  text-align: center;
  font-size: 0;
  user-select: none
}

.pagination__list li {
  font-size: 26px
}

.pagination__list a {
  padding: 14px
}

.pagination__list .active a {
  pointer-events: none
}

.pagination__controls {
  position: absolute;
  right: 0;
  left: 0;
  font-size: 26px
}

.pagination__control {
  position: absolute
}

.pagination__control--left {
  left: 0
}

.pagination__control--right {
  right: 0
}

.content-siblings {
  position: relative
}

.content-sibling__arrow {
  width: 40%
}

.btn-block,
.form-field {
  width: 100%;
  box-sizing: border-box
}

.content-sibling__arrow a {
  color: inherit
}

.content-sibling__arrow a:before {
  position: absolute
}

.content-sibling__arrow-next {
  float: right;
  text-align: right
}

.content-sibling__arrow-next:after {
  left: 100%;
  content: "→"
}

.content-sibling__arrow-prev {
  float: left
}

.content-sibling__arrow-prev:before {
  right: 100%;
  content: "←"
}

.breadcrumbs {
  font-size: 0
}

.btn {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  border: 0;
  line-height: 1.42857
}

.btn[disabled],
.btn[disabled]:hover {
  cursor: default;
  pointer-events: none;
  opacity: .5;
  box-shadow: none
}

.btn-basic {
  color: #383838;
  border: 1px solid #dedede;
  border-radius: 3px;
  background: #fff
}

.btn-basic:hover {
  color: #222;
  background: #fafafa
}

.btn-basic:active {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .125)
}

.btn-action {
  color: #fff;
  border: 1px solid #426092;
  border-radius: 3px;
  background: #4a6da8
}

.btn-action:hover {
  border-color: #143a77;
  background: #2759a6
}

.btn-action:active {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .325)
}

.btn-block {
  display: block
}

.btn-small {
  padding: .5em 1.6em;
  font-size: 12px
}

.btn-normal {
  padding: .5em 1.6em;
  font-size: 14px
}

.btn-medium {
  padding: 1em 2em;
  font-size: 16px
}

.btn-large {
  padding: .85em 2.6em .87em;
  font-size: 20px
}

.btn-group,
.form-body,
.form-row {
  font-size: 0
}

.btn-group-right {
  text-align: right
}

.btn+.btn {
  margin-left: 1em
}

.link {
  cursor: pointer;
  color: #bc0000
}

.form-group {
  margin-left: -24px
}

.form-group .form-block {
  box-sizing: border-box;
  padding-left: 24px
}

.form-row {
  margin-bottom: 24px
}

.form-item {
  padding-right: 0;
  padding-left: 0
}

.form-item+.form-item {
  padding-left: 20px
}

.form-label {
  display: block;
  padding: 8px 0;
  font-size: 15px;
  cursor: pointer
}

.form-field {
  padding: 8px 0;
  border: 1px solid #cecece;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
  font-size: 16px
}

.form-field:focus {
  outline: 0;
  border-color: #969696
}

.form-field--input {
  text-indent: .5em
}

.form-field--textarea {
  padding: 8px .5em;
  resize: none
}

.form-label--required {
  position: relative
}

.form-label--required:before {
  position: absolute;
  top: .3em;
  left: -.6em;
  color: #b20000;
  content: "*";
  font-size: 16px
}

.control-indicator:before,
.modal:before {
  content: ""
}

.form-field__tip {
  display: block;
  padding: 4px 0 0;
  color: #737373;
  font-size: 13px
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0
}

.control-indicator {
  position: relative
}

.modal,
.modal:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.modal {
  z-index: 1040;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transition: visibility .45s ease, opacity .45s ease;
  outline-width: 0;
  background-color: rgba(0, 0, 0, .5)
}

.modal:not(.in) {
  visibility: hidden;
  opacity: 0
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal-dialog {
  z-index: 1010;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  transition: opacity .15s ease;
  font-size: 26px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center
}

.modal-content {
  position: relative;
  max-width: 860px;
  background: #fff;
  box-shadow: 0 8px 30px -5px rgba(0, 0, 0, .5)
}

@media only screen and (min-width:512px) {
  .modal-dialog {
    padding: 30px
  }
  .modal-content {
    min-height: 100%
  }
}

.modal-header {
  position: relative;
  padding: 20px 26px 15px
}

.modal-body {
  position: relative;
  padding: 0 26px 15px
}

.modal-footer {
  margin-top: 20px;
  padding: 15px 26px;
  border-top: 1px solid #dedede
}

.modal-title {
  font-weight: 500
}

.btn-modal-close {
  position: absolute;
  z-index: 12;
  top: 0;
  right: 0;
  padding: 3px 12px;
  color: #000;
  background: 0 0;
  font-size: 32px
}

.btn-modal-close:before {
  content: "\00d7"
}

.btn-modal-close:focus {
  outline: 0
}

.btn-modal-close:hover {
  opacity: .6
}

.btn-modal-close:active {
  opacity: 1
}

.modal.fade .modal-dialog {
  opacity: 0
}

.modal.in .modal-dialog {
  opacity: 1
}

.modal-open {
  overflow: hidden
}

.modal-success {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  padding: 42px;
  transition: display 0 linear, opacity .3s ease;
  background: #fff
}

.modal-success[hidden] {
  display: none;
  opacity: 0
}

.modal-success__content {
  max-width: 620px;
  margin: auto;
  text-align: center;
  line-height: 28px
}

.modal-success__title {
  padding-bottom: 42px
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  overflow: scroll;
  width: 50px;
  height: 50px
}

.page-404 {
  width: 80%;
  margin: 62px auto 24px;
  text-align: center
}

.page-404__header {
  padding-bottom: 24px
}

.page-404__title {
  margin-bottom: 12px;
  font-size: 142px;
  line-height: 1
}

.page-404__subtitle {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 300
}

.page-404__action {
  text-align: center;
  font-size: 16px
}

.gui-header {
  background: #f6f5f3
}

.gui-menu {
  display: -ms-flexbox;
  display: flex;
  font-size: 14px
}

.gui-menu a {
  display: block;
  padding: 14px 0 10px;
  border-bottom: 2px solid transparent
}

.gui-menu .active a {
  border-color: #ce5943
}

.gui-menu__item {
  padding: 0 16px
}

.gui-menu__item:first-child {
  padding-left: 0
}

.gui-panel {
  margin-bottom: 42px;
  padding: 0 0 12px;
  border-bottom: 1px solid #d3d3d3
}

.gui-panel__fonts {
  padding-bottom: 42px
}

.gui-component {
  margin-bottom: 32px
}

.gui-grid--block {
  display: block;
  padding: 0
}