doctype html
html(lang='ru')
	- var dir = ""
	block vars
	include ../_includes/_head
	include ../_includes/_mixins


	body(class=bodyClass)

		block content

		if !footer
			include ../_includes/_footer

		include ../_includes/_modal