doctype html
html(lang='ru')
	- var dir = ""
	block vars
	include ../_includes/head
	include ../_includes/mixins

	body(class=bodyClass)

		.page-header
			.page-section
				include ../_includes/header

		block content

		if !footer
			include ../_includes/footer

		include ../_includes/modal
