footer.row.row-footer
	.container
		.footer-panel.columns-root
			.col-6
				.footer-copyright © Copyright, 2014–2015
			.col-6
				.footer-developers
					a.footer-developers__link(href="http://nopreset.ru") Создание сайта &mdash; nopreset