footer.page-footer
	.page-section
		.footer-panel
			.footer-panel__item
				.footer-copyright © Copyright, 2014–2015
			.footer-panel__item
				.footer-developers
					a.footer-developers__link(href="http://nopreset.ru") Создание сайта &mdash; nopreset
